.title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25pt;
    margin-top: 15px;
    color: #1D87DC;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 15pt;
}

.info p:last-child {
    margin-top: 15px;
}

.cart_title {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17pt;
    line-height: 18px;
}

.order_info {
    margin: auto;
    width: 90%;
    border-bottom: #1D87DC solid;
    padding: 10px;
}

@media screen and (min-width: 900px) {
    .order_info {
        width: 45%;
    }
}

.back {
    min-height: 72vh;
}

.empty {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20pt;
}

.create_btn {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    font-family: Roboto;
    font-size: 14pt;
    background-color: #1D87DC;
    color: white;
    cursor: pointer;
}

.creation {
    margin: auto;
    margin-top: 30px;
    width: 90%;
}

@media screen and (min-width: 900px) {
    .create_btn {
        width: 45%;
    }

    .creation {
        width: 45%;
    }
}

.create_btn:hover {
    background-color: #4b9ee7;
}