.title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25pt;
    margin-top: 15px;
    color: #1D87DC;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 15pt;
}

.info p:last-child {
    margin-top: 15px;
}

.cart_title {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17pt;
    line-height: 18px;
}

.order_info {
    margin: auto;
    width: 90%;
}

@media screen and (min-width: 900px){
    .order_info {
        width: 45%;
    }

}